<div class="degradado">
      <div class="banner_circuitos">
  		  <%= image_tag('cirelectricos/bannr-04.png')%>
      </div>
  	</div>
  	<div class="degradado">
  		<div class="container-fluid">
	  		<div class="descripcion">
	  			<p>En este módulo conocerás las herramientas para el análisis de los <strong>circuitos eléctricos</strong>, así como las características de los diferentes elementos de un circuito, además aprenderás a relacionar el comportamiento de la tensión y la corriente de acuerdo al tipo de conexión, utilizando las leyes y teoremas que rigen los circuitos.</p>
	  		</div>
	  		<div align="center"><%= image_tag('cirelectricos/sep.png')%></div>	
  		</div>
  	</div>
  	<div class="degradado" class="capitulos">
  		<div class="container-fluid">
  			<div class="row">
  				<div align="center" class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">
  					<div class="capitulos">
              <%= image_tag('cirelectricos/1.png')%>
              <%= image_tag('cirelectricos/2.png')%>
              <%= image_tag('cirelectricos/3.png')%>
              <%= image_tag('cirelectricos/4.png')%>
	  				 	 					
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 col-md-4">
  					<div class="infocurso">
  						<div align="center">
  							<div class="row">
	  							<div class="col-xs-12 col-sm-12 col-md-12">
	  								<%= image_tag('cirelectricos/foto_profesor-03.png')%>
	  								<h1>Ing. Selvio Pérez</h1>	
	  							</div>
  								<div class="col-xs-12 col-sm-12 col-md-12">  							  							
									<div class="info">
										<%= image_tag('cirelectricos/acerca_profesor.png')%>
										<p>Selvio es Ingeniero Electrónico egresado de la Universidad del Norte de Barranquilla (Colombia). Es uno de los fundadores de SolvingBooks con experiencia en el campo de la educación tanto virtual como presencial.</p>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div class="info">
									<%= image_tag('cirelectricos/prerequisitos.png')%>
									<p>Es de vital importancia conocer las técnicas de derivación e integración para poder aplicar los conceptos de carga, corriente y energía, al igual que las técnicas para la solución de sistemas de ecuaciones de múltiples variables para poder emplear de manera efectiva los métodos de análisis de circuitos.</p>
									</div>
								</div>  
							</div>							
  						</div>
  					</div>
  				</div>
        </div>
      </div>
    </div>
  	
