<footer>
    	<div class="greenfooter">
	    	<div class="container">
	    		<div class="col-sm-4 col-md-4">
	    			<ul id="lista_iz"class="hidden-xs">
			            <il>Crear una cuenta</il>
			            <il>Acerca de</il>
			            <il>Cursos</il>
			            <il>Sugerir Curso</il>
			            <il>Foro</il>
		          </ul>
	    		</div>
	    		<div class="col-sm-4 col-md-4">
	    			<div class="row">
	    				<div class="col-xs-12 col-sm-12 col-md-12">
			            	<a href="/"><div id="logofooter"><%= image_tag('home/id_blanc.png')%></div></a>  
			          		<p><strong>Síguenos en</strong></p>
 
			          	</div>
			          	
			          	<div class="col-xs-12 col-sm-12 col-md-12">
				          	<div class="SocialNetworks">
				          		<div class="row">
				          			<div class="col-xs-3 col-sm-3 col-md-2  col-md-offset-2">
				                		<a href="http://www.facebook.com/SolvingBooks?fref=ts"><%= image_tag('home/id_fb.png')%></a>
				              		</div>
				              		<div class="col-xs-3 col-sm-3 col-md-2">
				                		<a href="https://www.youtube.com/channel/UCwGNFqQFef4ExPioeD_wHng"><%= image_tag('home/id_yt.png')%></a>
				              		</div>
				              		<div class="col-xs-3 col-sm-3 col-md-2 col-md-offset-0">
				                		<a href=""><%= image_tag('home/id_insta.png')%></a>
				              		</div>
				              		<div class="col-xs-3 col-sm-3 col-md-2">
				                		<a href=""><%= image_tag('home/id_tw.png')%></a>
				              		</div> 
				            	</div> 
			          		</div>
			          	</div>
		    		</div>
	    		</div>
	    		<div class="col-sm-4 col-md-4">
		    		<ul id="lista_dr" class="hidden-xs">
			            <il>Suscripciones</il>
			            <il>Modos de Pago</il>
			            <il>Trabaja con Nosotros</il>
			            <il>Ayuda</il>
			            <il>FAQ</il>
			        </ul>
			    </div>
	    	</div>	
    	</div> 
    	<div class="solvingfooter">
		<p>© 2015 SolvingBooks.</p>
		<p>Todos los derechos reservados</p> 
	</div> 
</footer>